doctype html
// Designed and developed with love by VizuDev. Project Empanada
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Canceled | #{project}
  // CSS
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='https://millie.vizudev.net/presources/css/materialize.css' type='text/css' rel='stylesheet' media='screen,projection')
  link(href='https://millie.vizudev.net/presources/css/style.css' type='text/css' rel='stylesheet' media='screen,projection')
  style.
    body{background-color:#ff4081}
    .black-text{color:#fff!important}
    .rblack-text{color:#000000!important}
nav(role='navigation' class='' + `${wcolor}`)
  .nav-wrapper.container
    a#logo-container.brand-logo.black-text(href='#')
      picture
        source(type='image/webp' srcset='' + `${logo}`)
        img.header-logo(width='230' height='60' src='' + `${logo}`)
    ul.right.hide-on-med-and-down
    ul#nav-mobile.sidenav
    a.sidenav-trigger(href='#' data-target='nav-mobile')
      i.material-icons menu
#index-banner.parallax-container
  .section.no-pad-bot
    .container
      br
      br
      h1.header.center.white-text.text-lighten-2 Oh no!
      .row.center
        h5.header.col.s12.light You canceled this order on PayPal. Please cancel this order on Discord using the command #cancel.
      .row.center
      br
      br
  .parallax
    img(src='' + `${bg}`)
footer.page-footer.pink.accent-2
  .container
    .row
      .col.l6.s12
        h5.white-text
          img.header-logo(width='230' height='60' src='' + `${logo}`)
          img.header-logo(width='230' height='60' src='https://millie.vizudev.net/vdbanner.png' alt='VizuDev Logo')
        p.grey-text.text-lighten-4
          | Powered by #{project}.
          br
          | Errors? Contact us on Discord!
          br
          | &copy; 2018-2020 VitaHost. A VizuDev Service
      .col.l3.s12
        h5.white-text
        ul
      .col.l3.s12
        h5.white-text
        ul
// Scripts
script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='https://millie.vizudev.net/presources/js/materialize.js')
script(src='https://millie.vizudev.net/presources/js/init.js')
